ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.table-responsive {
  display: table;
  margin: 0 auto;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #EFDFBB;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 2px;
}

#myBtn:hover {
  background-color: #C9BD9F;
}


img:hover{
 filter: brightness(75%);
}

